@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="umair">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Confirm Email</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/AllContent/css")



</head>
<body class="login-body">
    <div class="container">
        <h2 class="text-info">
            Please check your Email to confirm your account.
        </h2>
    </div>
</body>
</html>

